.header{
    @include flexbox ( row, space-between);
    background-color: rgb(136, 180, 182);
    width: 100%;
    min-height: 100px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.header__logo{
    width: 100px;
    height: 100%;
}
.header__menu{
    display: none;
}