.seccion__titulo{
    font-size: 40px;
    font-style: italic;
    padding: 2rem;
    font-weight: bolder;
    text-align: center;
    background-color: $color__fondo ;
    border: 3px solid $color__bordes;
}
.seccion__banner{
    position: relative;
    margin-top: 20px;
    width: 100%;
    height: 400px;
}
.banner__imagen1{
    height: 400px;
    width: 100%;
    border-radius: 10px;
}
.banner__text{
    position: absolute;
    color: rgb(48, 48, 48);
    border-radius: 10px;
    font-style: italic;
    font-size: 40px;
    left: 30%;
    top: 55%;
}
.banner__text2{
    position: absolute;
    color: rgb(48, 48, 48);
    border-radius: 15px;
    font-style: italic;
    font-size: 40px;
    left: 36%;
    top: 70%;
}
.seccion__servicio{
    padding: 10px;
    width: 750px;
    height: 310px;
    margin: 4rem;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 400px 350px;
    background-color: $color__fondo;
    border: 2px solid $color__bordes;
    border-radius: 10px;
}
.servicio__subtitle{
    margin-top: 1rem;
    text-align: center;
   
}

.servicio__parrafo{
        margin-top: 2rem;
        text-align: center;
        font-style: italic;
        font-size: 18px;
}
.servicio__imagen{
    border-radius: 10px;
    width: 320px;
    height: 290px;
    border: 2px solid $color__bordes;
}
.contenedor__resumen{
    width: 85%;
    min-height: 300px;
    margin: auto;
    margin-bottom: 50px;
    padding: 20px;
    background-color: $color__fondo ;
    border: 2px solid $color__bordes;
    border-radius: 15px;
} 
.resumen__text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;  
}
.resumen__parrafo{
    margin-top: 10px;
    font-size: 18px;
    font-style: italic;
}
.resumen__iconos{
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 20px;
}
.r__iconos1{
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
}  
.r__iconos2{
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
}
.resumen__boton{
    display: flex;
    justify-content: center;
}
.r__boton{
    margin-top: 20px;
    background-color: rgb(76, 76, 192);
    width: 50%;
}  
.boton__link{
    color: white;
    text-decoration: none;
}